#body {
	margin-top: 60px;
}

.center_row {
	text-align: center;
	padding-top: 10px;
}

.bold_label {
	padding-right: 8px;
	font-weight: bold;
}

.input-group-addon, #amount_delivered{
	font-weight: bold;
}

/*
  Style wells
*/
.edit_well_selector {
	text-align: left;
	margin-bottom: 5px;
}

.well_selector {
	text-align: left;
	margin-bottom: 5px;
	cursor: pointer;
}

.well_selector:hover {
	background-color: #e3e3e3;
}

.well_selector label, .edit_well_selector label {
	font-weight: bold;
	margin-bottom: 0px;
}

.well_selector span, .edit_well_selector span {
	color: gray;
	margin-left: 5px;
}

/*
  Mix feed page
*/
.center_row .input-group {
	max-width: 300px;
	margin: auto;
	margin-top: 10px;
}

/*
  Deliver page
*/
.center_div {
	display: table;
    margin: 0 auto;
}

.deliver_row > div {
	display: inline-block;
	margin-top: 10px;
}

/*
  Edit Page
*/
.edit_feeding_inputs input, .edit_feeding_inputs select {
	max-width: 300px;
}
.edit_ico{
	cursor: pointer;
	margin-right: 2px;
}
.ratios{
	margin-top: 5px;
}
.edit_feeding_inputs {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 4px;
    background: gainsboro;
    margin-top: 5px;
}
.feedEdits label {
	color: gray;
}