#login-box,#change-password {
	text-align: center;
	display: table;
    margin: 0 auto;
    padding-top: 20px;
}
#login-box .input-group {
	width: 225px;
	margin-bottom: 10px;
}
#change-password .input-group {
	margin-bottom: 10px;
}
#login-box .input-group-addon {
	width: 95px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
#login-box .alert, #change-password .alert {
	margin-bottom: 10px;
}
#forgot_pwd {
	margin-bottom: 10px;
	margin-top: -10px;
}
#forgot_pwd a {
	font-size: smaller;
}